export(analyzeSteps)
export(createFormulaFromDF)
export(createFullDT)
export(createFullFormula)
export(createModelEquation)
export(externalStudentRes)
export(findOutliers)
export(generateParamChoices)
export(getDecYear)
export(getMultipleUV)
export(getPredictVariables)
export(internalStudentRes)
export(longDFResponse)
export(mergeDatasets)
export(plotQQTransforms)
export(plotSteps)
export(predictionPlot)
export(predictVariableScatterPlots)
export(prelimModelDev)
export(resultPlots)
export(resultResidPlots)
export(rSqr)
export(runFit)
export(runPred)
export(saveModelResults)
export(simpleCap)
export(summaryPrintout)
export(whatQW)
